# Standard for python and pydev
.project
.pydevproject
*.pyc
*.idea

# Common files we'll be outputting
*.zip
*.gz
*.xls
*.XLS
*.xlsx
*.csv
*.txt
*.xml

# Backup and temp files
*.backup
*.tmp
*.temp
*.raw
*.old

#
*.log

# Created by vim
*~
.swp

# Daemon files and certificates
*.pid
*.pem

# Ignore Mac DS_Store files
.DS_Store

